@import '../../../utils/vars.scss';
@import '../../../utils/mixins.scss';

.popular {
  border-top: 1px solid $mainBgColor;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-right: 15px;

  @include onPhone {
    height: auto;
    flex-flow: nowrap;
  }

  &:hover {
    background-color: $mainBgColor
  }

  &:last-child {
    border-bottom: 1px solid $mainBgColor;
  }
  
  &__img {
    width: 42px;
    height: 42px;
  }

  &__id {
    margin-bottom: 0;
    margin-left: 10px;
    color: $mainLightGray;
    width: 12px;
  }

  &__icon {
    margin-left: 30px;
    color: $grayColor;
  }

  &__name {
    margin-bottom: 0;
    margin-left: 30px;
    color: $whiteColor;
    max-width: 300px;
    width: 100%;

    @include onDekstop {
      max-width: 140px;
      width: 100%;
      margin-left: 15px;
    }
  }

  &__explicit {
    border: 1px;
    border-style: solid;
    border-color: $hoverColor;
    color: $hoverColor;
    text-transform: uppercase;
    font-size: 11px;
    padding: 2px 6px 3px;

    @include onDekstop {
      display: none;
    }
  }

  &__number {
    color: $mainLightGray;
    margin-left: auto;
    padding-right: 10px;
  }
}
