@import '../utils/vars.scss';
@import '../utils/mixins.scss';

.right {
  width: 15%;
  position: sticky;
  right: 0;
  background-color: $blackColor;

  @include onDekstop {
    display: none;
  }

  &__wrapper {
    padding: 15px;
    text-align: center;
    overflow-y: scroll;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 15px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
