@import '../../../utils/mixins.scss';
@import '../../../utils/vars.scss';

.artistAlbums {
  &__albums {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 140px;

    @include onTablet {
      margin-bottom: 0px;
    }

    &--info {
      display: flex;
      margin-bottom: 30px;
    }

    &--image{
      width: 135px;
      height: 135px;
    }

    &--meta {
      width: calc( 100% - 150px);
      margin-left: 15px;
      flex-flow: column wrap;
    }

    &--year {
     color: $mainLightGray;
     letter-spacing: 1px;
     margin-bottom: 0;
    }

    &--title {
      color: $whiteColor;
      font-size: 30px;
      font-weight: 100;
      padding-bottom: 40px;

      @include onPhone {
        padding-bottom: 10px;
        margin-bottom: 5px;
      }
    }

    &--save {
      margin-right: 10px;
      height: 27px;
      display: flex;
      align-items: center;
      font-weight: 500;
      border-radius: 20px;
      padding: 5px 25px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 11px;
      outline: none;
      background: none;
      color: $grayColor;
      border: 1px solid $grayColor;
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        color: $whiteColor;
        border: 1px solid $greenColor;
        text-decoration: none;
      }
    }

    &--buttons {
      display: flex;
    }

    &--btn {
      padding-left: 30px;
      padding-right: 30px;
      margin-right: 10px;
    }
  }

    &__head {
      color: $mainLightGray;
      border-bottom: 1px solid $mainBgColor;
      margin-bottom: 10px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      
    &--title {
      text-transform: uppercase;
      color: $mainLightGray;
      letter-spacing: 1.25px;
      font-size: 13.2px;
      margin-bottom: 10px;
    }

    &--icons {
      display: flex;
      gap: 10px;
      margin-bottom: 5px;
      cursor: pointer;
    }

    &--icon {
      color: $whiteColor;
    }

    &--other {
      background: $mainBgColor;
      padding: 8px;
      border-radius: 50%;

      &:hover {
        background-color: $hoverColor;
      }
    }

    &--another {
      background: transparent;
      padding: 8px;
      border-radius: 50%;

      &:hover {
        background-color: $hoverColor;
      }
    }
  }

  &__songs {
    margin-bottom: 20px;

    &--song {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 130px;
      width: 100%;
      margin-left: 10px;
    }

    &--wrapper {
      color: $mainLightGray;
      height: 42px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
    }

    &--grate {
      margin-bottom: 0;
      font-size: 20px;
    }

    &--title {
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 0;
    }

    &--icons {
      display: flex;
      gap: 54px;
    } 

    &--icon {
      @include onDekstop {
        display: none;
      }
    }

    &--content {
      color: $mainLightGray;
    }
  }
}
