@import '../../App/utils/vars.scss';

.latest-release {
  padding-right: 15px;
  margin-bottom: 30px;

  &__title {
    text-transform: uppercase;
    color: $mainLightGray;
    letter-spacing: 1.25px;
    font-size: 13.2px;
    margin-bottom: 15px;
  }
  

  &__track { 
    display: flex;

    &--img {
      width: 75px;
      height: 75px;
    }

    &--song {
      width: 100%;
      background: $mainBgColor;
      color: $mainLightGray;
      padding: 10px 15px;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
    }

    &--name {
      margin: 0;
    }

    &--data {
      margin: 0;
    }
  }
}
