@import '../../../utils/mixins.scss';
@import '../../../utils/vars.scss';

.artist-releated {
  width: 30%;

  @include onTablet {
    width: 100%;
  }

  &__title {
    text-transform: uppercase;
    color: $mainLightGray;
    letter-spacing: 1.25px;
    font-size: 13.2px;
    margin-bottom: 15px;
  }

  &__artists {

    @include onTablet {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    @include onMiniPhone {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}
