@import '../utils/vars.scss';
@import '../utils/mixins.scss';

.footer {
  position: sticky;
  bottom: 0;
  background: $mainBgColor;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $mainLightGray;
  border-top: 1px solid $blackColor;
  font-size: 12px;
  z-index: 5;

  @include onTablet {
    flex-direction: column;
    margin: 0 auto;
    position: static;
  }

  &__left {
    display: flex;
    width: 100%;

    @include onTablet {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  &__images {
    display: flex;

    @include onTablet {
      justify-content: space-between;
      padding: 5px 0 10px;
      margin: 0 auto;
      gap: 80px;
    }
  }

  &__img {
    color: $mainLightGray;
    font-size: 30px;
    display: flex;
    align-items: center;

    @include onTablet {
      font-size: 45px;
    }
    
    &:hover {
      color: $whiteColor;
      text-decoration: none;
    }

    &--center {
      font-size: 40px;
    }
  }

  &__tracker {
    display: flex;
    align-items: center;
    color: $mainLightGray;
    padding: 0 30px;
    width: 100%;

    @include onTablet {
     justify-content: center;
      padding: 5px 0 10px;
    }
  }

  &__range {
    width: 100%;
    margin: 10px 18px;

    &--trick {
      overflow: hidden;
      height: 5px;
      -webkit-appearance: none;
      width: 100%;
      background: $headerArrowClr;
      cursor: pointer;

    &::-webkit-slider-runnable-track {
      height: 12px;
      -webkit-appearance: none;
      color: $greenColor;
      margin-top: -1px;
      background: $headerArrowClr;
    }

    &::-webkit-slider-thumb {
      height: 5px;
      width: 1px;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: 4px;
       box-shadow: -640px 5px 0 640px $greenColor;
    }
  }
}

  &__wrapper {
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include onTablet {
      width: 100%;
      padding-bottom: 15px;
      margin: 0 auto;
    }
  }

  &__lyrics {
    color: $mainLightGray;
    font-size: 11px;

    &:hover {
      color: $whiteColor;
    }
  }

  &__icons {
    display: flex;
    width: 150px;
    justify-content: space-between;
  }

  &__icon {
    color: $mainLightGray;
    font-size: 16px;

    &:hover {
      color: $whiteColor;
      text-decoration: none;
    }
  }

  &__device {
    display: flex;
    margin-left: 15px;
    max-width: 130px;
    width: 100%; 
    align-items: center;
    
    &:hover {
      color: $whiteColor;
      text-decoration: none;
    }

    @include onPhone {
      max-width: 130px;
      width: 100%;
      margin-left: 15px;
    }


    &--title {
      color: $mainLightGray;
      margin-left: 5px;
      font-size: 11px;

      &:hover {
        color: $whiteColor;
      }
    }
  }

  &__volume {
    max-width: 100px;
    display: flex;
    margin-left: 10px;
    justify-content: flex-end;

    @include onPhone {
      margin-left: 8px;
    }

    &--range {
      overflow: hidden;
      -webkit-appearance: none;
      margin: 6px 10px;
      width: 60px;
      
      &::-webkit-slider-thumb {
        height: 10px;
        width: 1px;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -2px;
        box-shadow: -30px 0 0 30px $mainLightGray;
      }
      
      &::-webkit-slider-runnable-track {
        height: 5px;
        background: $headerArrowClr;
        cursor: pointer;
        -webkit-appearance: none;
      }
  
      @include onTablet {
        width: 60px;
      }
    }
  }
}
