@import '../../App/utils/vars.scss';
@import '../../App/utils/mixins.scss';

.menu-item {
  display: flex;
  color: $mainLightGray;
  padding-top: 4px;
  align-items: center;
  font-size: 14px;
  cursor: pointer;

  @include onTablet {
    justify-content: center;
  }

  @include onPhone {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &:hover {
    color: $whiteColor;
    text-decoration: none;
    border-right: 4px solid $greenColor;
  }

  &__icon {
    font-size: 18px;

    @include onTablet {
      display: none;
    }
  }

  &__title {
    padding-bottom: 5px;
    padding-left: 7px;

    @include onTablet {
      padding: 0;
    }
  }
}
