$mainLightGray: #aaa;
$grayColor: #c8c8c8;
$mainBgColor: #282828;
$navBgColor: rgba(24, 24, 24, 0.6);
$whiteColor: #fff;
$blackColor: #181818;
$blueColor: #4688d7;
$greenColor: #1ed760;
$scrollColor: rgb(90, 88, 88);
$hoverColor: #424242;
$headerArrowClr: #5E5E5E;
$headerDropBgColor: #ccc;
$hoverGreen: #43E57D;
$scrollMain: #373737;
