@import '../../App/utils/vars.scss';
@import '../../App/utils/mixins.scss';

.song-item {
  display: flex;
  border-top: 1px solid $mainBgColor;
  height: 42px;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  @include onPhone {
    height: 60px;
  }

  &:last-child {
    border-bottom: 1px solid $mainBgColor;
  }

  &:hover {
    background-color: $mainBgColor;
  }

  &__content {
    display: flex;
  }

  &__number {
    margin-left: 10px;
    color: $mainLightGray;
    width: 12px;
  }

  &__icon {
    margin-left: 20px;
  }

  &__arrow {
    @include onDekstop {
      display: none;
    }
  }

  &__title {
    margin-left: 30px;
    color: $whiteColor;
  }

  &__artist {
    margin-left: 7px;

    @include onPhone {
      display: flex;
      margin-left: 30px;
    }
  }

  &__sing {
    display: flex;
    
    @include onPhone {
      flex-direction: column;
    }
  }

  &__explicit {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px;
    border-style: solid;
    border-color: $hoverColor;
    color: $hoverColor;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 0.25em;
    
    @include onDekstop {
      display: none;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
}
