@import '../../../utils/mixins.scss';
@import '../../../utils/vars.scss';

.artist-songs {
  margin-bottom: 20px;

  &__song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 130px;
    width: 100%;
    margin-left: 10px;
  }

  &__wrapper {
    color: $mainLightGray;
    height: 42px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__grate {
    margin-bottom: 0;
    font-size: 20px;
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
  }

  &__icons {
    display: flex;
    gap: 54px;
  } 

  &--icon {
    @include onDekstop {
      display: none;
    }
  }

  &__content {
    color: $mainLightGray;
  }
}
